<!-- this is the page it takes the user to after they have created a new contact -->
<html>
<head>
    <title>Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1> Congrats, you created a new address! </h1>
        <p>{{ newaddress.getDescription }}</p>
        <p><a href='/'>View a list of all address's.</a></p>
    </div>
</body>
</html>
