<!-- this page is shown after the clear/delete buttom is pressed -->
<html>
    <head>
        <title>Address List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Address book cleared!</h1>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
